$background: rgba(27, 42, 65, 1);
$textNormal: rgba(114, 157, 182, 1);
$textHover: rgba(50, 74, 95, 1);
$accent: rgba(230, 181, 66, 1);

html,
body {
  background-color: $background;
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  min-width: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $background;

  .diagonal {
    color: $accent;

    svg {
      mask-image: linear-gradient(-10deg, black, white, transparent);
    }
  }

  .name {
    align-self: center;
    font-family: 'Bitter', serif;
    font-size: 1.3rem;
    color: $textNormal;
  }

  .aboutMe {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: $textNormal;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .image {
    margin-top: -4rem;

    :first-child {
      max-width: 100%;
      max-height: 100%;
    }

    img {
      clip-path: circle(30% at 50% 50%);
    }
  }

  .reachOut {
    font-family: 'Bitter', serif;
    color: $accent;
    font-size: 1.6rem;
    margin-top: -2rem;
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;

    a {
      color: inherit; /* blue colors for links too */
      text-decoration: inherit; /* no underline */

      &:hover {
        color: $textHover;
      }
    }
  }
}

@media (min-width: 920px) {
  .wrapper {
    display: grid;
    grid-template-rows: 20vh 20vh 50vh 10vh;
    grid-template-columns: 30vw 30vw 10vw 30vw;

    .diagonal {
      grid-area: 1 / 1 / 3 / 3;
    }

    .name {
      font-family: 'Bitter', serif;
      font-size: 2.5rem;
      grid-area: 2 / 2 / 3 / 5;
    }

    .aboutMe {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.8rem;
      grid-area: 3 / 1 / 4 / 3;
      margin: 3.5rem;
    }

    .image {
      grid-area: 3 / 3 / 4 / 5;
      margin-bottom: 0;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .reachOut {
      font-family: 'Bitter', serif;
      grid-area: 4 / 1 / 5 / 5;
      font-size: 3rem;
      margin-top: 0;
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }
  }
}

@media (min-width: 1400px) {
  .wrapper {
    display: grid;
    grid-template-rows: 20vh 20vh 50vh 10vh;
    grid-template-columns: 20vw 30vw 15vw 35vw;

    .diagonal {
      grid-area: 1 / 1 / 3 / 4;
    }

    .name {
      font-family: 'Bitter', serif;
      font-size: 2.5rem;
      grid-area: 2 / 3 / 3 / 5;
    }

    .aboutMe {
      font-family: 'Open Sans', sans-serif;
      font-size: 2.4rem;
      grid-area: 3 / 1 / 4 / 3;
      margin: 3.5rem;
    }

    .image {
      grid-area: 3 / 3 / 4 / 5;
      margin-bottom: 3rem;
      margin-right: 3rem;
      margin-top: 0;
    }

    .reachOut {
      font-family: 'Bitter', serif;
      grid-area: 4 / 3 / 5 / 5;
      font-size: 3rem;
      margin-top: 0;
      margin-left: 0;
      margin-right: 3.5rem;
    }
  }
}
