$background: rgba(27, 42, 65, 1);
$textNormal: rgba(114, 157, 182, 1);
$textHover: rgba(50, 74, 95, 1);
$accent: rgba(230, 181, 66, 1);

html,
body {
  background-color: $background;
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  min-width: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: 20vh 20vh 50vh 10vh;
  grid-template-columns: 20vw 30vw 15vw 35vw;
  background-color: $background;

  .diagonal {
    grid-area: 1 / 1 / 3 / 4;
    color: $accent;

    svg {
      mask-image: linear-gradient(-10deg, black, white, transparent);
    }
  }

  .name {
    font-family: 'Bitter', serif;
    font-size: 2.5rem;
    grid-area: 2 / 3 / 3 / 5;
    color: $textNormal;
  }

  .aboutMe {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    grid-area: 3 / 1 / 4 / 3;
    color: $textNormal;
    margin: 3.5rem;
  }

  .image {
    grid-area: 3 / 3 / 4 / 5;
    margin-bottom: 3rem;
    margin-right: 3rem;

    :first-child {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .reachOut {
    font-family: 'Bitter', serif;
    grid-area: 4 / 3 / 5 / 5;
    color: $accent;
    font-size: 3rem;

    display: flex;
    justify-content: space-between;
    margin-right: 3.5rem;

    a {
      color: inherit; /* blue colors for links too */
      text-decoration: inherit; /* no underline */

      &:hover {
        color: $textHover;
      }
    }
  }
}
